@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241);
}

.nav{
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
    
    
}

.logo img{
    width: 50px;
    height: 50px;
    
}
.logo span{
    font-weight: 900;
    font-size: 40px;
    align-items: baseline;
    
}
.mainbody{
    display: flex;
    /* height: 100%; */
}
.mainbody div{
    padding: 10px 0px;
}
.mainform{
    width: 450px;
    position: absolute;
    left: 500px;
    top: 150px;
}
.formhd{
    /* position: absolute; */
    font-size: 40px;
    left: 500px;
    
    
}

.loginform input{
    padding: 5px 220px 5px 5px;
    margin: 15px 0px;
    /* border-radius: 2px; */
}

.header h1{
    float: right;
    font-style: italic;
    
}
.header{
    right: 0px;
    top: 20px;
    /* display: flex; */
    position: absolute;
    color: crimson;
    /* justify-content: space-evenly; */
    padding: 0px 10px;
}

.header span{
    padding: 0px 10px;
}

.upload, .submit{
    margin: 20px;
}
.table{
    display: flex;
    justify-content: center;
    
    
}

.main-table{
    width: 80%;
}
table {
    border: 2px solid black;
    width: 100%;
    
    
}

th, td{
    border: 1px solid  tomato;
    text-align: center;
    background-color: whitesmoke;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
    }

.export{
  margin: 0px 0px 10px 1140px;
  /* position: absolute; */
}

.tables-audit1{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    width: 50%;
    float: left;

}
.tables-audit1 table {
    border: 2px solid black;
    
}

.tables-audit1 a{
    cursor: pointer;
    color: blue;
}

.tables-audit1 a:hover{
    color: blue;
    text-decoration: underline;
}

.tables-audit2{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    border: 1px solid  tomato;
    background-color: wheat;
    width: 40%;
    float: right;

}
.tables-audit2 > div {
    margin: 20px;
}

.timestamp{
    margin: 10px 0px;
}

.table table{
    /* width: 80%; */
}

.tables-admin1{
    display: flex;
    justify-content: flex-start;
    /* margin: 20px; */
    width: 50%;
    float: left;

}
.tables-admin1 table {
    border: 2px solid black;
    
}

.tables-admin1 a{
    cursor: pointer;
    color: blue;
}

.tables-admin1 a:hover{
    color: blue;
    text-decoration: underline;
}

.input-group{
    width: 30%;
    margin: 20px;
}
.controls{
  width: 50%;
  float: right;
}
.inputform{
    display: flex;
    /* width: 55%; */
    margin: 0px;
    
}

.custom-select{
   
    margin: 15px;
}

.mr-2{
    margin: 0px 0px 0px 20px;
}
.form-control-admin{
 
    display: block;
    margin: 0px 15px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.query{
    margin: 20px;
}