@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


*{
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(241, 241, 241);
}

.nav{
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
    
    
}

.logo img{
    width: 50px;
    height: 50px;
    
}
.logo span{
    font-weight: 900;
    font-size: 40px;
    align-items: baseline;
    
}
.mainbody{
    display: flex;
    /* height: 100%; */
}
.mainbody div{
    padding: 10px 0px;
}
.mainform{
    width: 450px;
    position: absolute;
    left: 500px;
    top: 150px;
}
.formhd{
    /* position: absolute; */
    font-size: 40px;
    left: 500px;
    
    
}

.loginform input{
    padding: 5px 220px 5px 5px;
    margin: 15px 0px;
    /* border-radius: 2px; */
}

.header h1{
    float: right;
    font-style: italic;
    
}
.header{
    right: 0px;
    top: 20px;
    /* display: flex; */
    position: absolute;
    color: crimson;
    /* justify-content: space-evenly; */
    padding: 0px 10px;
}

.header span{
    padding: 0px 10px;
}

.upload, .submit{
    margin: 20px;
}
.tables{
    display: flex;
    justify-content: center;
}
table {
    border: 2px solid black;
    width: 80%;
}

th, td{
    border: 1px solid  tomato;
    text-align: center;
    background-color: wheat;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
    }

.export{
  margin: 0px 0px 10px 1140px;
  /* position: absolute; */
}